name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: SSH into EC2
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_USERNAME: ${{ secrets.EC2_USERNAME }}
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }} 
        run: |
          echo "$SSH_PRIVATE_KEY" > key.pem 
          chmod 600 key.pem 

          ssh -o StrictHostKeyChecking=no -i key.pem ${EC2_USERNAME}@${EC2_HOST} << 'EOF'
          
          cd /var/www/express-app
          git pull origin main
          npm install
          pm2 restart express-app
        EOF


        rm key.pem
